/*----Tabs----*/

.tabs{
    width:100%;
    display: inline-block;
}

/*----Tab Links-----*/
/*Clear fix*/

.tab-links{
    width: auto;
    overflow: hidden;
    margin: 0;
    padding: 0;

}


.tab-links li{
    margin: 0px 0px;
    float: left;
    list-style: none;
    border: 3px double rgba(6, 6, 6, 0.94);
    border-radius: 3px;
}

        .tab-links a{
            padding: 9px 15px;
            display: inline-block;
            border-radius: 3px 3px 0px 0px;
            background: #3C3C3C;
            font-size: 16px;
            font-weight:600;
            color: #d7d7d7;
        }

        .tab-links a:hover{
            font-size: 20px;
            background: rgba(87, 106, 120, 0.85);
            text-decoration: none;
            color: #060606;
        }
        li.active a, li.active a:hover{
            background: #060606;
            color: #d7d7d7;
        }

        /*------ Content of Tabs------*/

.tab-content{
    padding: 15px;
    border-radius: 3px;
    box-shadow: -1px 1px 1px rgba(27, 27, 27, 0.81);
    background: #d7d7d7;
}

    .tab{
        display: none;
    }

    .tab.active{
        display: block;
    }










